// _maps.scss

$primary-colors: (
  100: $primary-100,
  200: $primary-200,
  300: $primary-300,
  400: $primary-400,
  500: $primary-500,
);

$neutral-colors: (
  0: $neutral-0,
  100: $neutral-100,
  200: $neutral-200,
  300: $neutral-300,
  400: $neutral-400,
  500: $neutral-500,
  600: $neutral-600,
  700: $neutral-700,
  800: $neutral-800,
  900: $neutral-900,
);

$line-height: (
  1p5: $lh-1p5,
  1p2: $lh-1p2,
);

$display-font-sizes: (
  1: $display-1,
  2: $display-2,
);

$font-sizes: (
  1: $fs-1,
  2: $fs-2,
  3: $fs-3,
  4: $fs-4,
  5: $fs-5,
  6: $fs-6,
  7: $fs-7,
  8: $fs-8,
);

$spacers: (
  0: $spacing-0,
  1: $spacing-xxs,
  2: $spacing-xs,
  3: $spacing-m,
  4: $spacing-s,
  5: $spacing-l,
  6: $spacing-xl,
  7: $spacing-2xl,
  8: $spacing-3xl,
  9: $spacing-4xl,
  10: $spacing-5xl,
  11: $spacing-6xl,
  12: $spacing-288,
  13: $spacing-200,
);

$font-sizes: (
  1: $fs-1,
  2: $fs-2,
  3: $fs-3,
  4: $fs-4,
  5: $fs-5,
  6: $fs-6,
  7: $fs-7,
  8: $fs-8,
);

/*
=====================
!!!!! display !!!!!
=====================

display-

#1:64
#2:48
*/

/*
=====================
!!!!! font-size !!!!!
=====================

fs-

#1:40
#2:32
#3:28
#4:24
#5:20
#6:16
#7:14
#8:12
*/

/*
===================
!!!!! spacing !!!!!
===================
#0:0
#1:4
#2:8
#3:12
#4:16
#5:24
#6:32
#7:40
#8:48
#9:56
#10:64
#11:80
#12:288
#13:200
*/
