$enable-rfs: false;

/* 
  ===============
  !!!!! 顏色 !!!!!
  ===============
*/
/* primary */
$primary-100: #f5fee7;
$primary-200: #e8fec5;
$primary-300: #c0fa73;
$primary-400: #57a203;
$primary-500: #477a11;

/* neutral */
$neutral-0: #ffffff;
$neutral-100: #f8f9fa;
$neutral-200: #e9ecef;
$neutral-300: #dee2e6;
$neutral-400: #ced4da;
$neutral-500: #adb5bd;
$neutral-600: #6c757d;
$neutral-700: #495057;
$neutral-800: #343a40;
$neutral-900: #212529;

/* functional */
/* danger */
$functional-dnager-100: #fcf1f1;
$functional-dnager-200: #eba7a7;
$functional-dnager-300: #d74f4f;
/* warning */
$functional-warning-100: #d74f4f;
$functional-warning-200: #fef6ec;
$functional-warning-300: #f38b12;
/* success */
$functional-success-100: #eff8f4;
$functional-success-200: #9ad1ba;
$functional-success-300: #36a375;
/* info */
$functional-info-100: #eef5fc;
$functional-info-200: #97c3ed;
$functional-info-300: #3087db;

/* 
  ===============
  !!!!! 行高 !!!!!
  ===============
  */
$lh-1p5: 1.5;
$lh-1p2: 1.2;

/* 
  ===============
  !!!!! 字距 !!!!!
  ===============
  */
$ls-5: 0.05em;

/* 
  ==================
  !!!!! 字體尺寸 !!!!!
  ==================
  */
/*
====
基底
====
*/

$general-size-base: 1rem;

/* 
=====
大尺寸 
=====
*/

/* 64px */
$display-1: $general-size-base * 4;
/* 48px */
$display-2: $general-size-base * 3;

/* 
=======
一般尺寸 
=======
*/

/* 40px */
$fs-1: $general-size-base * 2.5;
/* 32px */
$fs-2: $general-size-base * 2;
/* 28px */
$fs-3: $general-size-base * 1.75;
/* 24px */
$fs-4: $general-size-base * 1.5;
/* 20px */
$fs-5: $general-size-base * 1.25;
/* 16px */
$fs-6: $general-size-base;
/* 小尺寸 */
/* 14px */
$fs-7: $general-size-base * 0.875;
/* 12px */
$fs-8: $general-size-base * 0.75;

/* 
  ===================
  !!!!! spacing !!!!!
  ===================
*/

/* 0px */
$spacing-0: 0;
/* 4px */
$spacing-xxs: $general-size-base * 0.25;
/* 8px */
$spacing-xs: $general-size-base * 0.5;
/* 12px */
$spacing-m: $general-size-base * 0.75;
/* 16px */
$spacing-s: $general-size-base;
/* 24px */
$spacing-l: $general-size-base * 1.5;
/* 32px */
$spacing-xl: $general-size-base * 2;
/* 40px */
$spacing-2xl: $general-size-base * 2.5;
/* 48px */
$spacing-3xl: $general-size-base * 3;
/* 56px */
$spacing-4xl: $general-size-base * 3.5;
/* 64px */
$spacing-5xl: $general-size-base * 4;
/* 80px */
$spacing-6xl: $general-size-base * 5;
